<header class="site__mobile-header">
    <div class="mobile-header">
        <div class="container">
            <div class="mobile-header__body">
                <button class="mobile-header__menu-button" type="button">
                    <svg width="18px"height="14px">
                        <path d="M-0,8L-0,6L18,6L18,8L-0,8ZM-0,-0L18,-0L18,2L-0,2L-0,-0ZM14,14L-0,14L-0,12L14,12L14,14Z"></path>
                    </svg>
                </button>
                <a class="mobile-header__logo" href="#">
                    <svg width="130" height="20">
                        <path class="mobile-header__logo-part-one" d="M40,19.9c-0.3,0-0.7,0.1-1,0.1h-4.5c-0.8,0-1.5-0.7-1.5-1.5v-17C33,0.7,33.7,0,34.5,0H39c0.3,0,0.7,0,1,0.1
	c4.5,0.5,8,4.3,8,8.9v2C48,15.6,44.5,19.5,40,19.9z M44,9.5C44,6.7,41.8,4,39,4h-0.8C37.5,4,37,4.5,37,5.2v9.6
	c0,0.7,0.5,1.2,1.2,1.2H39c2.8,0,5-2.7,5-5.5V9.5z M29.5,20h-11c-0.8,0-1.5-0.7-1.5-1.5v-17C17,0.7,17.7,0,18.5,0h11
	C30.3,0,31,0.7,31,1.5v1C31,3.3,30.3,4,29.5,4H21v4h6.5C28.3,8,29,8.7,29,9.5v1c0,0.8-0.7,1.5-1.5,1.5H21v4h8.5
	c0.8,0,1.5,0.7,1.5,1.5v1C31,19.3,30.3,20,29.5,20z M14.8,17.8c0.6,1-0.1,2.3-1.3,2.3h-2L8,14H4v4.5C4,19.3,3.3,20,2.5,20h-1
	C0.7,20,0,19.3,0,18.5v-17C0,0.7,0.7,0,1.5,0H8c0.3,0,0.7,0,1,0.1c3.4,0.5,6,3.4,6,6.9c0,2.4-1.2,4.5-3.1,5.8L14.8,17.8z M9,4.2
	C8.7,4.1,8.3,4,8,4H5C4.4,4,4,4.4,4,5v4c0,0.6,0.4,1,1,1h3c0.3,0,0.7-0.1,1-0.2c0.3-0.1,0.7-0.3,0.9-0.5C10.6,8.8,11,7.9,11,7
    C11,5.7,10.2,4.6,9,4.2z">
                        </path>
                        <path class="mobile-header__logo-part-two" d="M128.6,6h-1c-0.5,0-0.9-0.3-1.2-0.7c-0.2-0.3-0.4-0.6-0.8-0.8c-0.5-0.3-1.4-0.5-2.1-0.5c-1.5,0-2.8,0.9-2.8,2
	c0,0.7,0.5,1.3,1.2,1.6c0.8,0.4,1.1,1.3,0.7,2.1l-0.4,0.9c-0.4,0.7-1.2,1-1.8,0.6c-0.6-0.3-1.2-0.7-1.6-1.2c-1-1.1-1.7-2.5-1.7-4
	c0-3.3,2.9-6,6.5-6c2.8,0,5.5,1.7,6.4,4C130.3,4.9,129.6,6,128.6,6z M113.5,4H109v14.5c0,0.8-0.7,1.5-1.5,1.5h-1
	c-0.8,0-1.5-0.7-1.5-1.5V4h-4.5C99.7,4,99,3.3,99,2.5v-1c0-0.8,0.7-1.5,1.5-1.5h13c0.8,0,1.5,0.7,1.5,1.5v1C115,3.3,114.3,4,113.5,4
	z M97.8,17.8c0.6,1-0.1,2.3-1.3,2.3h-2L91,14h-4v4.5c0,0.8-0.7,1.5-1.5,1.5h-1c-0.8,0-1.5-0.7-1.5-1.5v-17C83,0.7,83.7,0,84.5,0H91
	c0.3,0,0.7,0,1,0.1c3.4,0.5,6,3.4,6,6.9c0,2.4-1.2,4.5-3.1,5.8L97.8,17.8z M92,4.2C91.7,4.1,91.3,4,91,4h-3c-0.6,0-1,0.4-1,1v4
	c0,0.6,0.4,1,1,1h3c0.3,0,0.7-0.1,1-0.2c0.3-0.1,0.7-0.3,0.9-0.5C93.6,8.8,94,7.9,94,7C94,5.7,93.2,4.6,92,4.2z M79.5,20h-1.1
	c-0.6,0-1.2-0.4-1.4-1l-1.5-4h-6.1L68,19c-0.2,0.6-0.8,1-1.4,1h-1.1c-1,0-1.8-1-1.4-2l6.2-17c0.2-0.6,0.8-1,1.4-1h1.6
	c0.6,0,1.2,0.4,1.4,1l6.2,17C81.3,19,80.5,20,79.5,20z M72.5,6.6L70.9,11h3.2L72.5,6.6z M58,14h-4v4.5c0,0.8-0.7,1.5-1.5,1.5h-1
	c-0.8,0-1.5-0.7-1.5-1.5v-17C50,0.7,50.7,0,51.5,0H58c3.9,0,7,3.1,7,7S61.9,14,58,14z M61,7c0-1.3-0.8-2.4-2-2.8
	C58.7,4.1,58.3,4,58,4h-3c-0.5,0-1,0.4-1,1v4c0,0.6,0.5,1,1,1h3c0.3,0,0.7-0.1,1-0.2c0.3-0.1,0.7-0.3,0.9-0.5C60.6,8.8,61,7.9,61,7z
	 M118.4,14h1c0.5,0,0.9,0.3,1.2,0.7c0.2,0.3,0.4,0.6,0.8,0.8c0.5,0.3,1.4,0.5,2.1,0.5c1.5,0,2.8-0.9,2.8-2c0-0.7-0.5-1.3-1.2-1.6
	c-0.8-0.4-1.1-1.3-0.7-2.1l0.4-0.9c0.4-0.7,1.2-1,1.8-0.6c0.6,0.3,1.2,0.7,1.6,1.2c1,1.1,1.7,2.5,1.7,4c0,3.3-2.9,6-6.5,6
    c-2.8,0-5.5-1.7-6.4-4C116.7,15.1,117.4,14,118.4,14z">
                        </path>
                    </svg>
                </a>
                <div class="mobile-header__indicators">
                    <div class="mobile-indicator mobile-indicator--search d-md-none">
                        <button type="button" class="mobile-indicator__button">
                            <span class="mobile-indicator__icon">
                                <svg width="20" height="20">
                                    <path d="M19.2,17.8c0,0-0.2,0.5-0.5,0.8c-0.4,0.4-0.9,0.6-0.9,0.6s-0.9,0.7-2.8-1.6c-1.1-1.4-2.2-2.8-3.1-3.9C10.9,14.5,9.5,15,8,15
	c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7c0,1.5-0.5,2.9-1.3,4c1.1,0.8,2.5,2,4,3.1C20,16.8,19.2,17.8,19.2,17.8z M8,3C5.2,3,3,5.2,3,8
    c0,2.8,2.2,5,5,5c2.8,0,5-2.2,5-5C13,5.2,10.8,3,8,3z">
                                    </path>
                                </svg>
                            </span>
                        </button>
                    </div>

                    <div class="mobile-indicator d-none d-md-block">
                        <a href="account-login.html" class="mobile-indicator__button">
                            <span class="mobile-indicator__icon">
                                <svg width="20" height="20">
                                    <path d="M20,20h-2c0-4.4-3.6-8-8-8s-8,3.6-8,8H0c0-4.2,2.6-7.8,6.3-9.3C4.9,9.6,4,7.9,4,6c0-3.3,2.7-6,6-6s6,2.7,6,6
    c0,1.9-0.9,3.6-2.3,4.7C17.4,12.2,20,15.8,20,20z M14,6c0-2.2-1.8-4-4-4S6,3.8,6,6s1.8,4,4,4S14,8.2,14,6z">
                                    </path>
                                </svg>
                            </span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>

<header class="site__header">
    <div class="header">
        <div class="header__megamenu-area megamenu-area"></div>
        <div class="header__topbar-start-bg"></div>
        <div class="header__topbar-start">
            <div class="topbar topbar--spaceship-start">
                <div class="topbar__item-text ">Appelez-nous : +21622060730</div>
                <div class="topbar__item-text"><a class="topbar__link" href="" routerLink="/plateforme-Educative/home" >Accueil</a></div>
                <div class="topbar__item-text"><a class="topbar__link" href="" routerLink="/plateforme-Educative/aboutus" >À propos</a></div>
                <div class="topbar__item-text"><a class="topbar__link" href="" routerLink="/plateforme-Educative/contacts" >Nous Contacter</a></div>
            </div>
        </div>
        <div class="header__topbar-end-bg">

        </div>
        <div class="header__topbar-end">
            <div class="topbar topbar--spaceship-end">
                <div class="topbar__menu">
                    <button class="topbar__button topbar__button--has-arrow topbar__menu-button" type="button">
                        <span class="topbar__button-label">Language:</span>
                        <span class="topbar__button-title">EN</span>
                        <span class="topbar__button-arrow">
                            <svg width="7px" height="5px">
                                <path
                  d="M0.280,0.282 C0.645,-0.084 1.238,-0.077 1.596,0.297 L3.504,2.310 L5.413,0.297 C5.770,-0.077 6.363,-0.084 6.728,0.282 C7.080,0.634 7.088,1.203 6.746,1.565 L3.504,5.007 L0.262,1.565 C-0.080,1.203 -0.072,0.634 0.280,0.282 Z">
                                </path>
                            </svg>
                        </span>
                    </button>
                    <div class="topbar__menu-body">
                        <a class="topbar__menu-item" href="#">
                            <img src="assets/images/languages/language-1.png" alt="">
                            <span>English</span>
                        </a>
                        <a class="topbar__menu-item" href="#">
                            <img src="assets/images/languages/language-2.png" alt="">
                            <span>French</span>
                        </a>
                        <a class="topbar__menu-item" href="#">
                            <img src="assets/images/languages/language-3.png" alt="">
                            <span>German</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
            <div class="header__logo">
                <div class="logo">
                    <br>
                    <div *ngIf="username == null" class="logo__image " >
                        <h1 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif "  >
                            <a href="" routerLink="/plateforme-Educative/home" >
                                <span style="color: black;">PLATEFORME</span>
                                <span style="color:red;">E</span>
                                <span style="color: black;">DUCATIVE</span>
                            </a>
                        </h1>
                    </div>
                    <div *ngIf="role == 'ROLE_USER' && username !== null" class="logo__image " >
                        <h1 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif "  >
                            <a href="" routerLink="/plateforme-Educative/client/home" >
                                <span style="color: black;">PLATEFORME </span>
                                <span style="color:red;"> E </span>
                                <span style="color: black;">DUCATIVE</span>
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="header__indicators">
                <div class="indicator"></div>
                <div class="indicator indicator--trigger--click">
                    <a href="" class="indicator__button">
                        <span class="indicator__icon">
                            <svg width="32" height="32">
                                <path d="M16,18C9.4,18,4,23.4,4,30H2c0-6.2,4-11.5,9.6-13.3C9.4,15.3,8,12.8,8,10c0-4.4,3.6-8,8-8s8,3.6,8,8c0,2.8-1.5,5.3-3.6,6.7
    C26,18.5,30,23.8,30,30h-2C28,23.4,22.6,18,16,18z M22,10c0-3.3-2.7-6-6-6s-6,2.7-6,6s2.7,6,6,6S22,13.3,22,10z">
                                </path>
                            </svg>
                        </span>
                        <span class="indicator__title" *ngIf="username !== null">Hello,{{username}}</span>
                        <span *ngIf="username !== null" class="indicator__value">Mon compte </span>
                        <span class="indicator__title" *ngIf="username == null">hello</span>
                        <span *ngIf="username == null" class="indicator__value" (click)="dialoglogin()" >Se connecter </span>
                    </a>
                    <div class="indicator__content">
                        <div class="account-menu" id="ki">
                            <div class="account-menu__divider"></div>
                            <div *ngIf="username !== null">
                                <div class="account-menu__user">
                                    <div class="account-menu__user-info">
                                        <div class="account-menu__user-name">{{ username }}</div>
                                        <div class="account-menu__user-email">{{username}}@gmail.com</div>
                                    </div> 
                                </div> 
                                <div class="account-menu__divider"></div>
                                <ul class="account-menu__links">
                                    <div *ngIf="role == 'ROLE_USER' ">
                                        <li><a (click)="gotodashboardc()" href="javascript:void(0)">Dashboard</a></li>
                                    </div>
                                    <div *ngIf="role == 'ROLE_USER' ">
                                        <li ><a (click)="gotoprofil()" href="javascript:void(0)"  >Mon Profile</a></li>
                                    </div>
                                </ul>
                                <div class="account-menu__divider"></div>
                                <ul class="account-menu__links">
                                    <li>
                                        <a (click)="logout()" href="#">Se déconnecter</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="indicator indicator--trigger--click"*ngIf="username == null">
                    <a href="" class="indicator__button">
                        <span class="indicator__icon">
                            <svg width="32" height="32">
                                <path d="M16,18C9.4,18,4,23.4,4,30H2c0-6.2,4-11.5,9.6-13.3C9.4,15.3,8,12.8,8,10c0-4.4,3.6-8,8-8s8,3.6,8,8c0,2.8-1.5,5.3-3.6,6.7
C26,18.5,30,23.8,30,30h-2C28,23.4,22.6,18,16,18z M22,10c0-3.3-2.7-6-6-6s-6,2.7-6,6s2.7,6,6,6S22,13.3,22,10z">
                                </path>
                            </svg>
                        </span>
                        <span class="indicator__title" >hello</span>
                        <span class="indicator__value" (click)="frame.show()" >S'inscrire </span>
                    </a>
                </div>        
            </div>
    </div>
</header> 

<p-dialog [(visible)]="loginpDialog" [style]="{'height': '450px','width': '500px','background':'white'}" header="&nbsp;"   [modal]="true" >
    <ng-template pTemplate="content">
        
        <h1 class="offset-2" style=" font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif " href="" >
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
            <a>PLATEFORME <span style="color:red;"> EDUCATIVE </span></a></h1>
        &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Bon retour parmi nous
        <form novalidate [formGroup]="loginform" #fform="ngForm"  (ngSubmit)="loginform.valid && onSubmit()" *ngIf="!isloginSuccessful">
            <mat-form-field class="example-full-width">           
                <input matInput formControlName="username" type="text"  id="username" placeholder="Nom Utilisateur" required  >  
                <mat-error *ngIf="formErrors.username">{{formErrors.username}}</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" >
                <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" placeholder="Mot de passe" required>
                <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <span class="flex-spacer"></span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
            <button type="submit" class="btn btn-outline-danger mt-3" [disabled]="!loginform.valid" >Se Connecter </button>
            <div class="form-group">
                <div class="alert alert-danger" role="alert" *ngIf="isLoginFailed">
                  Échec de la connexion : {{ errorMessage }}
                </div>
              </div>
        </form>
        <hr>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; <a style="color: red;"> Mot de passe oublié</a>
          <br><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;   Nouveau sur All4MyCar?&nbsp; <a  style="color: red;" (click)="frame.show()" href="javascript:void(0)" > S’inscrire</a>
    </ng-template>
</p-dialog>
<!--
<p-dialog [(visible)]="registerpDialog" [style]="{'height': '450px','width': '500px','background':'white'}" header="&nbsp;"   [modal]="true">
    <ng-template pTemplate="content">
      <h1 class="offset-2" style=" font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif " href="" ><a>ALL <span style="color:red;"> 4 </span> MYCAR</a></h1>
  
     <form novalidate [formGroup]="registerform" #fform="ngForm"  (ngSubmit)="registerform.valid && onSubmit2()" *ngIf="showregisterForm"
     >
     <mat-form-field class="example-full-width">
      <input matInput formControlName="username" type="text"  id="username" placeholder="Nom Utilisateur" required  >
             <mat-error *ngIf="formErrors.username">{{formErrors.username}}</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Adresse email</mat-label>
      <input matInput formControlName="email" type="email" id="email" placeholder="username@example.com" required email  >
            <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" >
      <input matInput formControlName="password" placeholder="Mot de passe" required>
      <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <span class="flex-spacer"></span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
        <button type="submit" class="btn btn-outline-danger mt-3" [disabled]="!registerform.valid" routerLink="/home">S'inscrire </button>
        <div class="alert alert-warning" *ngIf="fform.submitted && isSignUpFailed ">
              Inscription échouée!<br />{{ errorMessage }}
            </div>
           </form>
           <hr>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; <a style="color: red;"> Mot de passe oublié</a>
          <br><br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;   Nouveau sur All4MyCar?&nbsp; <a  style="color: red;" (click)="returnregister()" href="javascript:void(0)" > S’inscrire</a>
  
    </ng-template>
  
  
  </p-dialog>
-->

 

<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
         aria-labelledby="myModalLabel" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content form-elegant">
                <div class="modal-header text-center">
                    <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel">
                        <strong>Sign up</strong>
                      </h3>
                </div>
                <div class="modal-body mx-4">
                    <form 
                         *ngIf="!isSuccessful"
                         name="form"
                         (ngSubmit)="f.form.valid && onSubmit2()"
                         #f="ngForm"
                         novalidate>
                         <div class="md-form mb-5">
                            <label for="username">Username</label>
                            <input
                            type="text"
                            mdbInput
                            class="form-control"
                            name="username"
                            [(ngModel)]="form.username"
                            required
                            #username="ngModel"
                            minlength="3"
                            maxlength="20"
                            />
                            <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                                <div *ngIf="username.errors.required">Username is required</div>
                                <div *ngIf="username.errors.minlength">
                                    Username must be at least 3 characters
                                  </div>
                                  <div *ngIf="username.errors.maxlength">
                                    Username must be at most 20 characters
                                  </div>
                            </div>
                         </div>
                         <div class="md-form mb-5">
                            <label for="password">Password</label>
                            <input
                            type="password"
                            mdbInput
                            class="form-control"
                            name="password"
                            [(ngModel)]="form.password"
                            required
                            minlength="6"
                            #password="ngModel"
                            />
                            <div class="alert-danger" *ngIf="f.submitted && password.invalid">
                                <div *ngIf="password.errors.required">Password is required</div>
                                  <div *ngIf="password.errors.minlength">
                                     Password must be at least 6 characters
                                 </div>
                            </div>
                        </div>
                        <div class="md-form mb-5">
                            <label for="email">Email</label>
                            <input
                             type="email"
                             mdbInput
                             class="form-control"
                             name="email"
                             [(ngModel)]="form.email"
                             required
                             email
                            #email="ngModel"
                            />
                            <div class="alert-danger" *ngIf="f.submitted && email.invalid">
                                <div *ngIf="email.errors.required">Email is required</div>
                                 <div *ngIf="email.errors.email">
                                       Email must be a valid email address
                                 </div>
                            </div>
                        </div>
                           
                            <div class="form-group">
                                <button mdbBtn gradient="blue" block="true" rounded="true" class="z-depth-1a waves-light"
                                mdbWavesEffect>
                                Sign Up
                                </button>
                                </div>
                                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                                    Signup failed!<br />{{ errorMessage }}
                                  </div>
                         <p class="font-small dark-grey-text text-right d-flex justify-content-center mb-3 pt-2"> or Sign Up
                            with:</p>
                            <div class="row my-3 d-flex justify-content-center">
                                <button type="button" mdbBtn color="white" rounded="true" class="mr-md-3 z-depth-1a waves-light"
                                        mdbWavesEffect>
                                  <mdb-icon fab icon="facebook-f" class="text-center"></mdb-icon>
                                </button>
                                <button type="button" mdbBtn color="white" rounded="true" class="mr-md-3 z-depth-1a waves-light"
                                        mdbWavesEffect>
                                  <mdb-icon fab icon="twitter"></mdb-icon>
                                </button>
                                <button type="button" mdbBtn color="white" rounded="true" class="z-depth-1a waves-light"
                                        mdbWavesEffect>
                                  <mdb-icon fab icon="google-plus"></mdb-icon>
                                </button>
                              </div>
                            
                    </form>
                    <div class="alert alert-success" *ngIf="isSuccessful">
                        Merci ! veuillez s'identifier pour compléter votre profil
                      </div>
        
                </div>
            </div>
        </div>
         </div>